ion-img {
  width: 180px;
  height: 100px;
}
h1{
  text-align: center !important;
  font-size: 20px !important;
}
p{
  text-align: center !important;
  font-size: 10px !important;
}
.bg-transparent{
  background-color: transparent !important;
}
.custom-textarea {
  border: 2px solid blue !important;
  border-radius: 4px;
}
.custom-textarea2 {
  border: 2px solid blue !important;
  border-radius: 4px;
  padding-bottom: 20px;
}
.custom-item{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.custom-item2{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

