ion-img {
  width: 300px;
  height: 250px;
}
h1{
  text-align: center !important;
  font-size: 50px !important;
}
p{
  text-align: center !important;
  font-size: 30px !important;
}

ion-button{
  margin: 0 auto;
}
