<ion-header>
  <ion-toolbar>
    <ion-title>indexpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content><br><br><br><br><br>
        <ion-img src="https://enroll.lccdo.edu.ph/assets/img/lclogo.png" style="margin: 0 auto;"></ion-img><br><br><br>

        <h1 style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;">LOURDES COLLEGE</h1>
        <p style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;">CAGAYAN DE ORO CITY</p><br><br><br><br><br><br>
<br><br><br>
        <ion-list style="text-align: center;">
          <ion-button size="large" (click)="goToStudentStatus()">ENROLL NOW</ion-button>
        </ion-list><br><br><br><br><br><br><br><br><br><br><br><br>
        <ion-list style="text-align: center;">
          <ion-button size="large" fill="clear" (click)="goToSettings()">SETTINGS</ion-button>
        </ion-list>


    </ion-content>
</ion-content>
