<ion-header>
  <ion-toolbar>
    <ion-title>settingspage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br><br><br>
  <ion-content>
    <ion-img src="https://enroll.lccdo.edu.ph/assets/img/lclogo.png" style="margin: 0 auto;"></ion-img>

        <h1 style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;">LOURDES COLLEGE</h1>
        <p style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;">CAGAYAN DE ORO CITY</p><br><br><br><br><br>
        <ion-grid class="custom-grid">
          <ion-row>
            <ion-label style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 35px;">TEXT SIZE</ion-label>
          </ion-row>
          <ion-row>
            <ion-range min="0" max="4" step="1" snaps="true" color="dark" [(ngModel)]="selectedSize"></ion-range>
          </ion-row>
          <ion-row>
            <ion-col class="custom-col"><ion-toggle [(ngModel)]="toggleLabel" (ngModelChange)="LightDarkMode($event)"></ion-toggle></ion-col>
            <ion-col><ion-button style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;" size="large">{{ toggleLabel ? 'DARK MODE' : 'LIGHT MODE' }}</ion-button></ion-col>
          </ion-row><br><br><br>
          <ion-row>
            <ion-label class="hays" style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 30px;">TEXT SIZE SET TO: <ion-label style="color: green;">{{selectedSizeString}}</ion-label></ion-label>
          </ion-row><br>
          <ion-row>
            <ion-label class="hays" style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 30px;">DARK MODE: <ion-label [ngStyle]="toggleLabel ? {color: 'green'} : {color: 'red'}">{{ toggleLabel ? 'ON' : 'OFF' }}</ion-label></ion-label>
          </ion-row><br><br><br><br>
          <ion-row>
            <ion-col>
              <ion-button (click)="DisplaySetSize(); "  expand="block" color="success">SET</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="GoBack()" expand="block">BACK</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid><br><br><br><br>


  </ion-content>
</ion-content>
