ion-img {
  width: 180px;
  height: 100px;
}
h1{
  text-align: center !important;
  font-size: 20px !important;
}
p{
  text-align: center !important;
  font-size: 10px !important;
}
.ilist{
  justify-content: center;
display: flex!important;
 align-items: center!important;
}
