<ion-header>
  <ion-toolbar>
    <ion-title>studentstatuspage</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>
<ion-content>
  <ion-content>
    <ion-img src="https://enroll.lccdo.edu.ph/assets/img/lclogo.png" style="margin: 0 auto;"></ion-img>

    <h1 style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;">LOURDES COLLEGE</h1>
    <p style="font-weight: bolder; font-family: 'Times New Roman', Times, serif;">CAGAYAN DE ORO CITY</p>
    <br><br><br><br><br>
    <div>
      <ion-list style="align-items: center;" class="ilist">
        <ion-radio-group [(ngModel)]="selectedValue">
          <ion-item lines="none">
            <ion-label style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 20px;">NEW
              STUDENT</ion-label>
            <ion-radio slot="start" id="ns" value="ns"></ion-radio>
          </ion-item><br>
          <ion-item lines="none">
            <ion-label style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 20px;">OLD
              STUDENT</ion-label>
            <ion-radio slot="start" id="os" value="os"></ion-radio>
          </ion-item><br>
          <ion-item lines="none">
            <ion-label
              style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; font-size: 20px;">TRANSFEREE</ion-label>
            <ion-radio slot="start" id="t" value="t"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list><br><br><br><br><br>
    </div>
    <ion-list style="text-align: center;">
      <ion-button size="large" (click)="Navigation()">PROCEED</ion-button>
    </ion-list><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-list style="text-align: center;">
      <ion-button size="large" fill="clear" (click)="goToSettings()">SETTINGS</ion-button>
    </ion-list>
  </ion-content>
</ion-content>
